html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Raleway, -apple-system, Helvetica Neue, sans-serif;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}

.font-weight-100{
  font-weight: 100;
}

.font-weight-200{
    font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}
:root{
  --primary-gradient: linear-gradient(148deg, #ED8332 0%, #EC5B2B 100%);
  --secondary-gradient: linear-gradient(148deg, #000024 0%, #0F254C 100%);
  --primary-cross-gradient: linear-gradient(148deg, #ED8332 0%, #0F254C 100%);
  --primary-main: #ed8332;
  --primary-dark: #ec5b2b;
  --primary-light: #f3b169;
  --primary-contrastText: #ffffff; 
  --secondary-main: #0F254C;
  --secondary-dark: #000024;
  --secondary-light: #3e4d78;
  --secondary-contrastText: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff9200;
}
::-webkit-scrollbar-thumb:active {
  background: #22549a;
}
::-webkit-scrollbar-track {
  /* background: #666666; */
  border: 0px none #ffffff;
  border-radius: 8px;
}
::-webkit-scrollbar-track:hover {
  /* background: #666666; */
}
::-webkit-scrollbar-track:active {
  /* background: #333333; */
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.anchor{
  display: block;
  position:relative;
  top:-20px;
  visibility:hidden;
}
